# Python
__pycache__/
*.pyc
*.log
.venv/
virtualenv/env/

# IDE
.idea/
.vscode/
.DS_Store

# Environment variables
.env
env/
.env.*

# Firebase (do not commit service account keys)
*firebase*credentials*.json
*service*account*.json
# Allow the demo template to be committed
!firebase-credentials-demo.json

# Docker
.dockerignore

# Alembic
/payment_app/alembic/versions/ 
!/payment_app/alembic/versions/__init__.py≥
