version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: payment_app
    restart: always
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://kushagra:root123@host.docker.internal:5432/payment_db
    ports:
      - "127.0.0.1:8218:8218"
    volumes:
      - .:/app
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8218
      --reload
